In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [24]:
#Store Part I results into DataFrame
#Load the csv exported in Part I to a DataFrame
cities_df = pd.read_csv("../output_data/cities.csv")
cities_df.head()

,Unnamed: 0,ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,4033557,Tautira,-17.7333,-149.1500,30.00,62,40,1.54,PF,1619660629
1,1,1006984,East London,-33.0153,27.9116,19.65,76,100,2.64,ZA,1619660559
2,2,1503726,Kharp,66.8014,65.8081,-4.81,92,100,3.03,RU,1619660630
3,3,2019323,Nerchinskiy Zavod,51.3088,119.6100,0.73,74,100,4.41,RU,1619660419
4,4,3421765,Nanortalik,60.1432,-45.2371,1.75,94,59,2.26,GL,1619660512

In [25]:
#Humidity Heatmap
#Configure gmaps.
gmaps.configure(api_key=g_key)

#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.

locations_data = cities_df[["Lat", "Lng"]]
weight_data = cities_df["Humidity"].astype(int)

#configure map and display
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations_data, weights=weight_data, dissipating=False, 
                                     max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows will null values.

narrowed_cities_df = cities_df.loc[(cities_df["Max Temp"] < 80) & (cities_df["Max Temp"] > 70) & 
                                   (cities_df["Wind Speed"] < 50) & (cities_df["Cloudiness"] == 0)].dropna()

narrowed_cities_df.head()

Empty DataFrame
Columns: [Unnamed: 0, ID, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []